svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    width: 120px;
    height: 45px;
    opacity: 0;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    position: absolute;
}

.bar {
    fill: blue;
}
.bar:hover {
    fill: yellow;
}